PROJECT_ID=healthcare-pipeline-yk-01
TOPIC_ID=healthcare-events
SUBSCRIPTION_ID=healthcare-sub
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
GOOGLE_APPLICATION_CREDENTIALS=/secrets/gcp-key.json
#PUBSUB_EMULATOR_HOST=localhost:8085
